/* Asterisk wildcard selector to overide default styles set by browser */
/* Reset default browser styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Ensure html and body span the full height */
html {
  height: 100%;
}

body {
  min-height: 100vh; /* Full viewport height */
  display: flex; /* Flex container */
  flex-direction: column; /* Stack children vertically */
  /* Generic project styles */
  color: #3a3a3a; /* Generic font color */
  font-family: "Lato", sans-serif; /* Font family */
}

h1, h2, h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
}
.hidden-heading {
  display: none; /* Hide heading */
}
/* Generic styles for headings */
h
/* Header */
header {
  background-color: #ffffff;
  padding: 0 1rem;
  position: relative;
  z-index: 99; /* Sticky header */
  width: 100%;
  box-shadow: 0 2px 4px #3a3a3a;
  display: flex; /* Flex container */
  flex-shrink: 0; /* Prevent shrinking */
  justify-content: space-between; /* Space between items */
  align-items: baseline; /* Align items vertically */
}

header a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}

h1 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
}

#menu {
  list-style: none; /* Remove default list style */
  font-size: 110%;
  letter-spacing: 4px;
}
/* Make nav bar elements on mobile drop down bold when tapped to give visual cue*/
/*#menu a:active {
  border-bottom: 2px solid #252525; /* Keep the border for the active link */
}
#menu li {
  margin-bottom: 1em; /* Space between menu items */
}
/* Add padding to navigation links to fix underline position */
#menu a {
  text-decoration: none; /* Remove default underline */
  color: inherit; /* Keep the default text color */
  border-bottom: 2px solid transparent; /* Invisible border by default */
  padding: 0.2rem 0; /* Add padding to adjust underline position */
  display: inline-block; /* Ensure padding is applied properly */
  transition: border-bottom 0.3s ease; /* Smooth transition for hover effect */
}
#menu a.active {
  border-bottom: 2px solid #252525; /* Underline active link */
}

/* Nav bar styles with drop down menu  */
nav {
  position: absolute; /* Position relative to header */
  background-color: #ffffff;
  width: 100%;
  left: 0;
  padding: 0 1rem 0.5rem; /* Space around nav */
  box-shadow: 0 2px 4px #3a3a3a;
  display: none; /* Hide by default */
  top: 100%; /* Position below header */
}

/* Nav toggle */
#nav-toggle:checked ~ nav {
  display: block; /* Show nav when toggle is checked */
}

#nav-toggle {
  display: none; /* Hide checkbox */
}

.nav-toggle-label {
  display: block;
  font-size: 2rem; /* Font size for toggle */
  cursor: pointer; /* Pointer cursor on hover */
}
/* Main element */
main {
  /* Make main element take up any surplus space to push footer down */
  flex: 1 0 auto; /* Grow to fill remaining space */
  margin-top: 0; /* Space below header */
}

/* Hero section */
#hero {
  min-height: calc(100vh - 47px - 70px); /* Full viewport height minus header and footer heights */
  width: 100%;
  background : url("../images/hero-image.webp") no-repeat center center/cover; /* Background image */
}

#cover-text {
  /* the final font number, (0.7) here, adjusts opacity*/
  background-color: rgb(241, 109, 107, 0.7); /* Semi-transparent background */
  font-size: 130%;
  position: absolute; /* Position relative to parent */
  bottom: 15%; /* Position from bottom */
  width: 80%; /* Width of text */
  min-height: 200px; /* Minimum height */
  padding-top: 40px; /* Space above text */
  padding-left: 15px; /* Space left */
}

#cover-text > h2,  #cover-text > h3 {
  color: #ffffff; /* White text color */
  
}

#reasons {
  width: 90%; /* Width of text */
  margin: 20px auto; /* Center text */
}

#reasons > h2 {
  text-align: center; /* Center text */
  margin-bottom: 20px; /* Space below heading */
  font-size: 280%; /* Font size for heading */
}
#benefits-physical>div,
#benefits-mental>div {
    line-height: 20px;
    margin-bottom: 20px;
}
#benefits p {
  padding: 0 20px;
}
hr {
  border-top: 1px solid #3a3a3a;
  margin: 5px 0;
}
#circle-cover-bg {
  background: url("../images/reasons-image.webp") no-repeat top center/cover; /* Background image */
  height: 90vw; /* Height of circle */
  width: 90vw; /* Width of circle */
  border-radius: 50%; /* Circle shape */
  margin-bottom: 20px; /* Space below circle */
  max-width: 300px; /* Maximum width */
  max-height: 300px; /* Maximum height */
}

#benefits-image {
  display: flex; /* Flex container */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}
/*Meet-up times section*/

#times {
  background: url("../images/dublin-city.webp") no-repeat center/cover; /* Background image */
  /* Handles responsively without the need for a media query */
  display: flex; /* Flex container */
  flex-wrap: wrap; /* Wrap items */
  
}

#times > div {
  color: #fafafa; /* White text color */
  background-color: rgba(0, 0, 0, 0.5); /* black Semi-transparent background, creates ovelay to improve contrast between background image and text */
  padding : 15px; /* Space around text */
  text-align: center; /* Center text */
  /* This will not wrap on screens less than 400px.
   Each div will expand to fill the available space in its row*/
  flex-basis: 200px; /* Minimum width of each item */
  flex-grow: 1; /* Allow items to grow */
  /* Create grid with white border */
  border: 2px solid #fafafa; /* White border */

}
#times h3 {
  /* Overide the heading color set in general styles */
  color: #fafafa;
}
/* Footer element*/ 
#social-networks {
  display: flex; /* Flex container */
  text-align: center; /* Center items */
  padding: 20px 0;
  justify-content: space-evenly; /* Center items */
  list-style-type: none; /* Remove default list style, the bullet points in this case */
}
#social-networks i {
  font-size: 160%; /* Space between social icons */
  padding: 5%;
  color: #3a3a3a; /* Generic font color */
}
footer {
  height:auto; /* Auto height */
  min-height: 50px; /* Minimum height */
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
  /* Header */
  nav {
    display: block; /* Flex container */
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }
  #menu {
    display: flex; /* Flex container */
    gap: 1rem; /* Space between menu items */
  }
  .nav-toggle-label {
    display: none; /* Hide toggle label */
  }
  #logo {
    line-height: 75px; /* Center logo vertically */
    font-size: 280%; /* Font size for logo */
    margin: 0 0.5rem; /* Space around logo */
  }

  /* Hero */
  #cover-text {
    width: 300px; /* Width of text */
    left: 50px;
  }

  /* Reasons section */
  #benefits-physical,
  #benefits-mental {
    display: flex; /* Flex container */
    flex-direction: column; /* Stack items vertically */
    width: 100%; /* Width of text */
  }
  #benefits-physical > div,
  #benefits-mental > div {
    width: 75%; /* Width of text */
  }

  #benefits-mental > div {
    text-align: end; /* Align text to the right */
    align-self: flex-end; /* Align item to the right */
  }
}

/* Media query: larger screens (992px and up) */
@media screen and (min-width: 992px) {
  #menu a:hover {
    border-bottom: 1px solid #252525; /* Underline on hover */
  }
}
/* Media query: larger screens (1200px and up) */
@media screen and (min-width: 1200px) {
  /* Reasons section */
  #benefits {
    display: flex;  /* Flex container */
    flex-direction: row; /* Stack items horizontally */
  }
  #benefits > div {
    flex: 1; /* Width of text */
  }
  #benefits-image {
    order: 0;
  }
  #benefits-mental {
    order: 1; /* Order of items */
  }
  #benefits-mental > div {
    align-self: flex-start; /* Align item to the left */
  }
  #benefits-physical > div {
    align-self: flex-end; /* Align item to the right */
  }

}
 

